construction.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="cd">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ManagerName" type="xs:string" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="Address" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="Age" type="xs:integer" />
              <xs:element name="Projects" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>